<& template footer.html.mustache &>
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Test Page</title>
</head>
<body>
<& menu &>
<h1>Hello</h1>
<p>Introduction paragraph</p>
<h2>Content</h2>
<& content &>
<& footer &>
</body>
</html>
