<& template layout.html.mustache &>

<& put menu &>123
	<ul>
		<li>Home</li>
		<li>About</li>
		<li>Products</li>
		<li>Services</li>
		<li>Suport</li>
		<li>Contact Us</li>
	</ul>	
456<& end menu &>
